/* Getting the new tags to behave */
article, section {display:block;}

/* Global properties ======================================================== */

/* Element styles ********************** */

body
{
    font-family:Arial, Helvetica, sans-serif;
    background-image:URL(../images/blkwavesilkbg.jpg);
}

david
{
  display: block;
  padding-top: 0.5em;
  position: relative;
  margin: 0 auto;
  animation-name: topfadein;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 0s;
}

footer
{
  color:white;
  text-align:center;
}

h5
{
  padding-bottom: 1em;
  margin:0;
}

hr
{
    display: block;
    margin-right:auto;
    width: 80%;
    height: 5px;
    background-color: firebrick;
    border-style: inset;
    margin-left:auto;
}

nav
{
  margin-left:2em;
}


nav a
{
  text-decoration:none;
  line-height:1.4em;
  width: 6em;
  color: white;
  font-size:1.2em;
  font-style: oblique;
}

nav a:hover
{
  color:#ff5733;
  font-style: normal;
  font-variant:small-caps;
  opacity: 1;
}

ul
{
  list-style:none;
  display: inline;
  width:7em;
  padding: 0;
  margin: 0;
  border: 0;
}



/* Classes  ******************************** */
.container
{
    display:block;
    background-color:#efe7d6;
    width:75%;
    height:30em;
    margin: 0 auto;
    position: relative;
    top: -9em;
    border:5px red;
    border-style:ridge;
    border-radius: 5%;
}

.borderbox
{
  box-sizing: border-box;
}

.fadeMeIn
{
    animation-name: fadein;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animatiin-direction: alternate;
}

@font-face
{
    font-family: bluelmin;
    src: url('Bluelmin_Ronald.eot')
         ,url('Bluelmin_Ronald.otf')
	,url('Bluelmin_Ronald.ttf'); /* IE9 */
}

.headerfont1
{
    font-family:bluelmin;
    font-size:6em;
    font-weight:normal;
    color:Silver;
    text-align: center;
}

.headerfont2
{
    font-family:bluelmin;
    font-size:2.4em;
    font-weight:100;
    color:Silver;
    text-align: center;
}

.headerSection
{
    margin:0 auto;
}

/* *********** Animation ******************** */
@keyframes topfadein{
    from{
        top: -100px;
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}

@keyframes fadein{
  from { opacity: 0; }
  to { opacity: 1; }
}


