/* Getting the new tags to behave */
article, section {display:block;}

/* Global properties ======================================================== */

/* Element styles ********************** */

body {
	font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, #343A47, silver 20%, #343A47 65%);
}

david
{
  display: block;
  padding-top: 0.5em;
  position: relative;
  margin: 0 auto;
  animation-name: topfadein;
  animation-duration: 1s;
  animation-timing-function:linear;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-delay: 0s;
}

footer
{
  color:gray;
  text-align:center;
}

h5
{
  padding-bottom: 1em;
  margin:0;
}

hr
{
    display: block;
    margin-right:auto;
    width: 80%;
    height: 5px;
    background-color: firebrick;
    border-style: inset;
    margin-left:auto;
}

/*  Nav Section */
nav
{
  margin-left:2em;
}

nav a
{
  text-decoration:none;
  line-height:1.4em;
  width: 6em;
  color: white;
  font-size:1.2em;
  font-style: oblique;
}

nav a:hover
{
  color:#ff5733;
  font-style: normal;
  font-variant:small-caps;
  opacity: 1;
}

ul
{
  list-style:none;
  display: inline;
  width:7em;
  padding: 0;
  margin: 0;
  border: 0;
}



/* Classes  ******************************** */
/*
	.container
{
    display:block;
    background-color:#efe7d6;
    width:75%;
    height:30em;
    margin: 0 auto;
    position: relative;
    top: -9em;
    border:5px red;
    border-style:ridge;
    border-radius: 5%;
}
*/

.borderbox
{
  box-sizing: border-box;
}

.date {
	font-size: 0.9em;
	color: white;
}

.fadeMeIn
{
    animation-name: fadein;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

@font-face
{
    font-family: bluelmin;
    src: url('Bluelmin_Ronald.eot')
         ,url('Bluelmin_Ronald.otf')
	,url('Bluelmin_Ronald.ttf'); /* IE9 */
}

.active {
    color:#ff5733;
}

.headerfont1
{
    font-family:bluelmin;
    font-size:6em;
    font-weight:normal;
    color:silver;
    text-align: center;
}

.headerfont2
{
    font-family:bluelmin;
    font-size:2.4em;
    font-weight:100;
    color:silver;
    text-align: center;
}



/* *********** Animation ******************** */
@keyframes topfadein{
    from{
        top: -100px;
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}

@keyframes fadein{
  from { opacity: 0; }
  to { opacity: 1; }
}

/*  Rotating Cube  */
.wrap {
	margin-top: 150px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
}


.cube {
	margin: auto;
	position: relative;
	height: 200px;
	width: 200px;
	transform-style: preserve-3d;
}

	.cube div {
		position: absolute;
		padding: 10px;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		opacity: 0.9;
		background-color: #000aaa;
		border: solid 1px #eee;
		color: #fff;
		font: 10px arial;
		transition: transform 0.2s ease-in;
	}

.front {
	transform: translateZ(100px);
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
}

.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}

.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}

.top {
	transform: rotateX(-270deg) translateY(-100px);
	transform-origin: top center;
}

.bottom {
	transform: rotateX(270deg) translateY(100px);
	transform-origin: bottom center;
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}

	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.cube {
	animation: rotate 20s infinite linear;
}
/*
.wrap:hover .front {
	transform: translateZ(200px);
}

.wrap:hover .back {
	transform: translateZ(-200px) rotateY(180deg);
}

.wrap:hover .right {
	transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.wrap:hover .left {
	transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.wrap:hover .top {
	transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.wrap:hover .bottom {
	transform: rotateX(270deg) translateZ(100px) translateY(100px);
}
*/